In [8]:
print ('Hello world')
print('Lets do it')

Hello world
Lets do it

In [9]:
import numpy as np
import pandas as pd
#numpy helps in the multidimensional array handling
#pands -> datafrome handling
#Matplotlib-> Visualization packages
#Scipy-> Statistical maodel

In [10]:
#addition
a = 5
b = 6
c = a + b
print('c value',c)
print('addition', a + b)

#subtraction
print("subtraction", a - b)

#multiplication
print('multiply', a * b)

#divide
print ('divide', a / b)

float_var = float(a)
print ('float value', float_var)

hex_val = hex(b)
print ('hex value', hex_val)

d = 56
oct_val = oct(d)
print ('oct_val' , oct_val)

c value 11
addition 11
subtraction -1
multiply 30
divide 0.8333333333333334
float value 5.0
hex value 0x6
oct_val 0o70

In [11]:
#Numpy creation of matrices and the vectors array
simple_list = [1, 2, 3, 4]
simple_list
np.array(simple_list)

array([1, 2, 3, 4])

In [12]:
#creation of the range values for the same
np.arange(0,45)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44])

In [13]:
#creation of the zeroes
np.zeros(31)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [14]:
#creation of the ones
np.ones(24)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1.])

In [15]:
#creation of the identity matrix
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [16]:
#range in the step size
np.arange(4,55,5)

array([ 4,  9, 14, 19, 24, 29, 34, 39, 44, 49, 54])

In [17]:
#genration of the random variables
np.random.rand(6)

array([0.28236218, 0.19460779, 0.97648022, 0.8916523 , 0.13663979,
       0.27866984])

In [18]:
np.random.rand(4,5)

array([[0.82979397, 0.88629321, 0.27071915, 0.76375288, 0.91179043],
       [0.75748142, 0.09650623, 0.69404368, 0.08333376, 0.09224351],
       [0.04675529, 0.84086369, 0.70699501, 0.42240727, 0.16169162],
       [0.45618527, 0.22140612, 0.58608982, 0.62555749, 0.98433767]])

In [19]:
np.random.randn(4,5)

array([[ 1.0202586 ,  0.28388841,  0.96774424, -0.69902996,  0.48258724],
       [ 0.65869543,  1.76075324, -0.78512232,  1.23090354, -0.3645538 ],
       [-0.70253652,  1.45919195,  0.19272573,  1.36951567, -0.427349  ],
       [-0.68464089,  1.91413646, -0.29463382, -0.65209727, -0.8153313 ]])

In [20]:
#generation of the equally spaced values with on actual array
np.linspace(0,23,5)

array([ 0.  ,  5.75, 11.5 , 17.25, 23.  ])

In [23]:
lsit_ofz_lists = [[],[],[]]
lsit_ofz_lists

[[], [], []]

In [26]:
lsit_ofz_lists = [[5, 6, 15],[12, 52, 223],[12, 25, 55]]
lsit_ofz_lists
np.array(lsit_ofz_lists)

array([[  5,   6,  15],
       [ 12,  52, 223],
       [ 12,  25,  55]])

In [29]:
#random generation from one number till the other
np.random.randint(19,2019)

1038

In [30]:
#random generation from one number till the other with certain steps
np.random.randint(10,29876,10)

array([22486, 22923,  3049, 23992,  3429, 18172, 24833, 10600, 12833,
        7229])

In [31]:
#taking the random value in other variable
random_array_001 = np.random.randint(10,5529,8)
random_array_001

array([ 772,  203,  132, 4524,  588,  692, 1430, 3597])

In [38]:
#min, max, argmax, variance, std deviation and argmin of the variables
random_array_002 = np.random.randint(2, 32, 6)
random_array_002

array([ 4, 25,  3,  8,  2, 23])

In [39]:
random_array_002.max()

25

In [40]:
random_array_002.min()

2

In [41]:
random_array_002.var()

90.47222222222221

In [42]:
random_array_002.std()

9.51168871558685

In [43]:
random_array_002.argmin()

4

In [44]:
random_array_002.argmax()

1

In [57]:
#reshapping the array
sample_test_array = np.random.randint(5, 44, 20)
sample_test_array

array([36,  8, 39, 42, 23, 31, 14, 32, 14, 20,  7, 27, 28,  9,  7, 25, 38,
       12, 21,  7])

In [58]:
#matrix shaped in other way
sample_test_array.shape

(20,)

In [63]:
sample_test_array.reshape(20,1)

array([[36],
       [ 8],
       [39],
       [42],
       [23],
       [31],
       [14],
       [32],
       [14],
       [20],
       [ 7],
       [27],
       [28],
       [ 9],
       [ 7],
       [25],
       [38],
       [12],
       [21],
       [ 7]])

In [64]:
#checking the datatype dtype
sample_test_array.dtype

dtype('int32')

In [78]:
liste = ([[3, 85, 9, 6],
          [8, 6, 62, 78], 
          [45, 6, 4, 843],
          [44, 56, 54, 8]])
sample_array_003 = np.array(liste)
sample_array_003

array([[  3,  85,   9,   6],
       [  8,   6,  62,  78],
       [ 45,   6,   4, 843],
       [ 44,  56,  54,   8]])

In [79]:
sample_array_003.T   #Transpose of a matrix np.array attribute is very essential to 
                     #convert a list into arrays and do the operation on them

array([[  3,   8,  45,  44],
       [ 85,   6,   6,  56],
       [  9,  62,   4,  54],
       [  6,  78, 843,   8]])

In [86]:
sample_array_003[3]  #array starts form index i.e the postion 0 to further

array([44, 56, 54,  8])

In [93]:
sample_array_003[1:3]

array([[  8,   6,  62,  78],
       [ 45,   6,   4, 843]])

In [94]:
sample_array_003[1,2]

62

In [95]:
#Setting a fixed value 100 using index range (Broadcasting)
sample_array_003[1:2]=100
sample_array_003

array([[  3,  85,   9,   6],
       [100, 100, 100, 100],
       [ 45,   6,   4, 843],
       [ 44,  56,  54,   8]])

In [97]:
#set all values to certain
sample_array_003[:] = 20
sample_array_003

array([[20, 20, 20, 20],
       [20, 20, 20, 20],
       [20, 20, 20, 20],
       [20, 20, 20, 20]])

In [99]:
liste1 = ([[3, 45, 9, 6],
          [8, 6, 602, 7], 
          [45, 6, 24, 843],
          [33, 56, 54, 4]])
array_test12 = np.array(liste1)
array_test12

array([[  3,  45,   9,   6],
       [  8,   6, 602,   7],
       [ 45,   6,  24, 843],
       [ 33,  56,  54,   4]])

In [100]:
liste

[[3, 85, 9, 6], [8, 6, 62, 78], [45, 6, 4, 843], [44, 56, 54, 8]]

In [102]:
copy_test_array = array_test12.copy()
copy_test_array

array([[  3,  45,   9,   6],
       [  8,   6, 602,   7],
       [ 45,   6,  24, 843],
       [ 33,  56,  54,   4]])

In [103]:
array_test12[2][3]  #prints that position value

843

In [104]:
array_test12[2]  #prints row

array([ 45,   6,  24, 843])

In [105]:
array_test12 < 100  #checks in bool for true or false

array([[ True,  True,  True,  True],
       [ True,  True, False,  True],
       [ True,  True,  True, False],
       [ True,  True,  True,  True]])

In [106]:
#arithmetic operation on the array
sample_array_003 + array_test12

array([[ 23,  65,  29,  26],
       [ 28,  26, 622,  27],
       [ 65,  26,  44, 863],
       [ 53,  76,  74,  24]])

In [108]:
sample_array_003 - array_test12

array([[  17,  -25,   11,   14],
       [  12,   14, -582,   13],
       [ -25,   14,   -4, -823],
       [ -13,  -36,  -34,   16]])

In [109]:
sample_array_003/array_test12

array([[6.66666667, 0.44444444, 2.22222222, 3.33333333],
       [2.5       , 3.33333333, 0.03322259, 2.85714286],
       [0.44444444, 3.33333333, 0.83333333, 0.02372479],
       [0.60606061, 0.35714286, 0.37037037, 5.        ]])

In [111]:
array_number_001 = sample_array_003*array_test12
array_number_001

array([[   60,   900,   180,   120],
       [  160,   120, 12040,   140],
       [  900,   120,   480, 16860],
       [  660,  1120,  1080,    80]])

In [112]:
np.sqrt(array_number_001)       #square root

array([[  7.74596669,  30.        ,  13.41640786,  10.95445115],
       [ 12.64911064,  10.95445115, 109.72693379,  11.83215957],
       [ 30.        ,  10.95445115,  21.9089023 , 129.84606271],
       [ 25.69046516,  33.46640106,  32.86335345,   8.94427191]])

In [113]:
np.exp(array_number_001)        #exponential

array([[1.14200739e+026,             inf, 1.48938420e+078,
        1.30418088e+052],
       [3.06984964e+069, 1.30418088e+052,             inf,
        6.32743171e+060],
       [            inf, 1.30418088e+052, 2.89301918e+208,
                    inf],
       [4.30881707e+286,             inf,             inf,
        5.54062238e+034]])

In [114]:
np.sin(array_number_001)        #sine value

array([[-0.30481062,  0.99780327, -0.80115264,  0.58061118],
       [ 0.21942526,  0.58061118,  0.9881892 ,  0.98023966],
       [ 0.99780327,  0.58061118,  0.61601671,  0.80028587],
       [ 0.26243303,  0.99975317, -0.65021914, -0.99388865]])

In [116]:
array_number_001           #actual array doesnt change only changes when we take a copy of this in another memory

array([[   60,   900,   180,   120],
       [  160,   120, 12040,   140],
       [  900,   120,   480, 16860],
       [  660,  1120,  1080,    80]])

In [117]:
np.cos(array_number_001)

array([[-0.95241298,  0.0662467 , -0.59846007,  0.81418097],
       [-0.97562931,  0.81418097,  0.15323873, -0.19781357],
       [ 0.0662467 ,  0.81418097, -0.78773308, -0.59961865],
       [ 0.96495021, -0.02221717,  0.75974672, -0.11038724]])

In [118]:
np.tan(array_number_001)         #no cosec, cot and sec

array([[  0.32004039,  15.06193125,   1.33869021,   0.71312301],
       [ -0.22490638,   0.71312301,   6.44869097,  -4.95537106],
       [ 15.06193125,   0.71312301,  -0.78201199,  -1.33465806],
       [  0.27196536, -44.99912902,  -0.85583672,   9.00365495]])

In [123]:
np.log(array_number_001)

array([[4.09434456, 6.80239476, 5.19295685, 4.78749174],
       [5.07517382, 4.78749174, 9.39598972, 4.94164242],
       [6.80239476, 4.78749174, 6.1737861 , 9.73269923],
       [6.49223984, 7.02108396, 6.98471632, 4.38202663]])

In [124]:
#Using the unique function
sports = np.array(['Golf', 'Cricket', 'Football', 'Football','Cricket','cricket','Basketball', 'Baseball'])

np.unique(sports)

array(['Baseball', 'Basketball', 'Cricket', 'Football', 'Golf', 'cricket'],
      dtype='<U10')

In [125]:
# in1d we can test values in one array - returns boolean output
np.in1d(['Fooseball','Cricket','Baseball'],sports)

array([False,  True,  True])

In [127]:
#Save array on hard disk in binary format (file extension is .npy)
np.save('array_number1', array_number_001)

In [128]:
np.savez('array_number12', a=array_number_001,b=array_test12)  #zip

In [129]:
np.load('array_number1.npy')

array([[   60,   900,   180,   120],
       [  160,   120, 12040,   140],
       [  900,   120,   480, 16860],
       [  660,  1120,  1080,    80]])

In [130]:
#Saving the arrays as text files

simple_array2 = np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]])
np.savetxt('my_text.txt',simple_array2,delimiter=',')

In [131]:
simple_array2 = np.loadtxt('my_text.txt',delimiter = ',')

simple_array2

array([[ 1.,  2.,  3.,  4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11., 12., 13., 14.]])